<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Toro - Minimal eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/asset/images/favicon.png" />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/asset/css/vendor/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/asset/css/vendor/font-awesome.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/asset/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/asset/css/vendor/animate.min.css" />
    <link rel="stylesheet" href="/asset/css/vendor/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/asset/css/vendor/odometer.min.css" />
    <link rel="stylesheet" href="/asset/css/vendor/select2.min.css" />
    <link rel="stylesheet" href="/asset/css/vendor/ion.rangeSlider.min.css" />

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/asset/css/style.css" />
</head>

<body>

    










    
        <!--Back To Start-->
        <button id="backBtn" class="back-to-top"><i class="pe-7s-angle-up"></i></button>
        <!--Back To End-->

        <!-- JS
    ============================================ -->

        <!-- Modernizer & jQuery JS -->
        <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
        <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="assets/js/plugins/popper.min.js"></script>
        <script src="assets/js/plugins/bootstrap.min.js"></script>

        <!-- Plugins JS -->
        <script src="assets/js/plugins/swiper-bundle.min.js"></script>
        <script src="assets/js/plugins/ajax-contact.js"></script>
        <script src="assets/js/plugins/odometer.min.js"></script>
        <script src="assets/js/plugins/select2.min.js"></script>
        <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
        <script src="assets/js/plugins/jquery.zoom.min.js"></script>

        <!-- Main JS -->
        <script src="assets/js/main.js"></script>

</body>

</html>
